
DiagnoseApp/.idea/codeStyles/codeStyleConfig.xml

DiagnoseApp/.idea/codeStyles/Project.xml

DiagnoseApp/.idea/encodings.xml

DiagnoseApp/.idea/gradle.xml

DiagnoseApp/.idea/misc.xml

DiagnoseApp/.idea/runConfigurations.xml

DiagnoseApp/.idea/vcs.xml

DiagnoseApp/app/build

DiagnoseApp/diagnose/build
